.div-conteudo{
    height: auto;
}

.div-conteudo-form{
    background-color: #4929f5;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 50px;
    border-radius: 25px;
    
    box-shadow: 15px 15px #999;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.label-input{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    left: 0%;
}

.div-header-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.span-header{
    color: #FFF;
}

#span-welcome{
    font-size: 30px;
    font-weight: bold;
}

#span-welcome2{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-person{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.div-button{
    flex-direction: row;
    margin-top: 60px;
}

.btn-login{
    width: 48%;
    margin-right: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-register{
    width: 48%;
    margin-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-header-form2{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


